In [57]:
# load module
import pandas as pd
import numpy as np
import dask.dataframe as dd
#import IPython
import matplotlib.pyplot as plt
import seaborn as sns

In [58]:
# read in all our data using pandas
#%time
df = pd.read_csv("/Users/hirenghosh/Downloads/My_data/NFL Play by Play 2009-2017 (v4).csv")

# set seed for reproducibility
#np.random.seed(0)

/Users/hirenghosh/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3170: DtypeWarning: Columns (25,51) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [59]:
# read in all our data using dask
#df = dd.read_csv("/Users/hirenghosh/Downloads/My_data/NFL Play by Play 2009-2017 (v4).csv")

# set seed for reproducibility
#np.random.seed(0)

In [60]:
# Get overall idea about the data set

# look at the first five rows of the df file
#df.head()

# look at the last five rows of the df file
#data.tail()

# Select 5 row randomly using sample()
# without give any parameters
df.sample(5)

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
389003,2017-11-19,2017111902,18,4,1.0,13:37,14,817.0,8.0,GB,...,-2.416257,0.082911,0.917089,0.074983,0.925017,0.082911,-0.007928,0.022553,-0.030481,2017
39710,2009-12-27,2009122707,15,4,2.0,05:49,6,349.0,41.0,NO,...,-3.211323,0.642300,0.357700,0.668900,0.331100,0.357700,-0.026601,0.127183,-0.153783,2009
78088,2010-12-06,2010120600,2,1,NaN,10:57,11,3357.0,5.0,NE,...,NaN,0.591065,0.408935,0.572444,0.427556,0.408935,0.018621,NaN,NaN,2010
16347,2009-10-25,2009102502,3,1,3.0,09:50,10,3290.0,39.0,SF,...,NaN,0.577816,0.422184,0.598011,0.401989,0.577816,0.020195,NaN,NaN,2009
178453,2012-12-30,2012123011,22,4,1.0,05:46,6,346.0,29.0,CAR,...,-0.633797,0.049810,0.950190,0.043544,0.956456,0.049810,-0.006267,0.003306,-0.009572,2012

In [61]:
df.dtypes

Date         object
GameID        int64
Drive         int64
qtr           int64
down        float64
             ...
Win_Prob    float64
WPA         float64
airWPA      float64
yacWPA      float64
Season        int64
Length: 102, dtype: object

In [62]:
# Look at the column names
df.columns

Index(['Date', 'GameID', 'Drive', 'qtr', 'down', 'time', 'TimeUnder',
       'TimeSecs', 'PlayTimeDiff', 'SideofField',
       ...
       'yacEPA', 'Home_WP_pre', 'Away_WP_pre', 'Home_WP_post', 'Away_WP_post',
       'Win_Prob', 'WPA', 'airWPA', 'yacWPA', 'Season'],
      dtype='object', length=102)

In [63]:
#Letâ€™s get a list of all the species. The pd.unique function tells us all of the unique values in the species_id column.
pd.unique(df['Season'])

array([2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017])

In [64]:
#calculate basic statistics for all records in a single column using the syntax below:
df['qtr'].describe()

count    407688.000000
mean          2.577412
std           1.129750
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: qtr, dtype: float64

In [65]:
# get the number of missing data points per column
missing_values_count = df.isnull().sum()

# look at the # of missing points in the first ten columns
missing_values_count[0:10]

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

In [66]:
# how many total missing values do we have?
total_cells = np.product(df.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

24.87214126835169

In [67]:
#sns.heatmap(df.isnull(), cbar=False)
#plt.show()

In [68]:
#conda install missingno
#msno.bar(df)

In [69]:
missing_values_count[0:10]

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

In [70]:
# remove all the rows that contain a missing value
#df.dropna()

In [71]:
# remove all columns with at least one missing value
columns_with_na_dropped = df.dropna(axis=1)
columns_with_na_dropped.head()

,Date,GameID,Drive,qtr,TimeUnder,ydstogo,ydsnet,PlayAttempted,Yards.Gained,sp,...,Timeout_Indicator,Timeout_Team,posteam_timeouts_pre,HomeTimeouts_Remaining_Pre,AwayTimeouts_Remaining_Pre,HomeTimeouts_Remaining_Post,AwayTimeouts_Remaining_Post,ExPoint_Prob,TwoPoint_Prob,Season
0,2009-09-10,2009091000,1,1,15,0,0,1,39,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
1,2009-09-10,2009091000,1,1,15,10,5,1,5,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
2,2009-09-10,2009091000,1,1,15,5,2,1,-3,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
3,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
4,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0.0,0.0,2009

In [ ]:
# just how much data did we lose?
print("Columns in original dataset: %d \n" % nfl_data.shape[1])
print("Columns with na's dropped: %d" % columns_with_na_dropped.shape[1])